<template>
    <q-page class="container">
      <div class="row justify-center">
        <div class="col-12 flex flex-center titulo q-pa-md">
          <span class="trato titulo text-weight-light">trato.<span class="text-weight-thin titulo">VIP</span></span>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-12 flex flex-center text-white q-ma-xs" style="font-size: 1.4em">
          Agenda de hoje
        </div>
      </div>
      <div class="row">
        <div class="col-12 separador"></div>
      </div>
      <div class="row justify-center">
        <div class="col-12 horizontal">
          <div class="col q-my-md">
            <span v-for="n in week" :key="n" class="q-mx-xs" style="display: inline-block">
              <span class="label">{{n}}</span>
              <div class="circulo" v-if="getWeek() == n" style="background: #0081c2"></div>
              <div class="circulo" v-else></div>
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-12" v-for="(item, index) in schedule" :key="index">
          <div class="row">
            <div class="col-3 q-my-md flex items-center hour justify-center">
              {{item.horario}}
            </div>
            <div class="col-9 hour-box" v-if="item.available">
              <div class="row full-height">
                <div class="col-10 flex flex-center">
                  <span class="text-blocked">Horário disponível</span>
                </div>
                <div class="col flex flex-center">
                  <q-btn icon="add" @click="item.available = !item.available" class=" full-height" flat color="white"></q-btn>
                </div>
              </div>
            </div>
            <div class="col-9 hour-box" v-else>
              <div class="row full-height">
                <div class="col-10 flex flex-center bg-blocked">
                  <span class="text-blocked bg-blocked">Horário indisponível</span>
                </div>
                <div class="col flex flex-center bg-blocked">
                  <q-btn icon="delete" @click="item.available = !item.available" class="bg-blocked full-height" flat color="white"></q-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </q-page>
</template>
<script>
import agenda from '../statics/data/schedules.json'
export default {
  name: 'Agenda',
  data: function () {
    return {
      data: new Date(),
      week: ['DOM', 'SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB'],
      schedule: agenda
    }
  },
  methods: {
    getWeek: function () {
      var x = new Date().getDay()
      switch (x) {
        case 0:
          return 'DOM'
        case 1:
          return 'SEG'
        case 2:
          return 'TER'
        case 3:
          return 'QUA'
        case 4:
          return 'QUI'
        case 5:
          return 'SEX'
        case 6:
          return 'SAB'
      }
    }
  }
}
</script>
<style scoped>
  *{
    background: #4e88eb
  }
  .titulo{
    background: #4486dd
  }
  .trato{
    font-size: 2em;
    color: white
  }
  .separador{
    height: 1px;
    background: rgba(0,0,0, 0.1)
  }
  .horizontal{
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .circulo{
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .label{
    display: block;
    color: white;
    text-align: center;
  }
  .hour{
    font-size: 1.5em;
    color: white;
  }
  .hour-box{
    border-left: 2px solid white;
  }
  .bg-blocked{
    background: #ce1016;

  }
  .text-blocked{
    color: white;
    font-size: 1em;
  }
</style>
