<template>
  <div class="containter bg-primary fullscreen">
    <div class="row justify-center fixed-top q-mt-xl">
      <div class="circulo bg-secondary"></div>
    </div>
    <div class="col fixed-center q-mt-xl">
      <div class="row">
        <div class="col-12 q-mt-sm">
          <q-field :error="erro" error-label="Usuário ou e-mail inválidos">
            <q-input v-model="email" autofocus inverted color="tertiary" class="entrada"  placeholder="Usuário ou e-mail"></q-input>
          </q-field>
        </div>
        <div class="col-12 q-mt-sm">
          <q-field :error="erro" error-label="Data de nascimento inválida">
            <q-datetime v-model="data" type="date" format="DD/MM/YYYY" inverted color="tertiary" class="entrada" placeholder="Nascimento"></q-datetime>
          </q-field>
        </div>
        <div class="col-12 q-mt-sm">
          <q-btn outline color="white" class="bg-secondary" no-caps style="width: 100%" to="/home">Recuperar</q-btn>
        </div>
      </div>
      <div class="col-12 links flex flex-center q-mt-sm">
        <div class="col-12">
          Já tem uma conta?
        </div>
        <router-link to="/">Faça login!</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Forget',
  data: function () {
    return {
      erro: false,
      data: '',
      email: ''
    }
  }
}
</script>
<style>
  .circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff
  }
  .sublinha{
    color: white;
    font-size: 14px;
  }
  .botao{
    width: 32px;
    height: 32px;
  }
  .entrada{
    border-radius: 5px;
  }
  .links, .links a{
    color: white;
  }
</style>
