<template>
  <div class="containter bg-primary fullscreen">
    <div class="row justify-center fixed-top q-mt-xl">
      <div class="circulo bg-secondary"></div>
      <div class="col-12 flex flex-center q-mt-md sublinha">
        Fazer login com
      </div>
      <div class="row justify-center">
        <div class="col q-mr-sm">
          <q-btn class="botao" flat><img src="/assets/icons/googleplus.png" alt=""></q-btn>
        </div>
        <div class="col q-ml-sm">
          <q-btn class="botao" flat><img src="/assets/icons/facebook.png" alt=""></q-btn>
        </div>
      </div>
    </div>
    <div class="col fixed-center q-mt-xl">
      <div class="row">
        <div class="col-12 q-mt-sm">
          <q-field :error="erro" error-label="Usuário ou e-mail inválidos">
            <q-input v-model="email" type="email" autofocus inverted color="tertiary" class="entrada"  placeholder="Usuário ou e-mail"></q-input>
          </q-field>
        </div>
        <div class="col-12 q-mt-sm">
          <q-field :error="erro" error-label="Senha inválida">
            <q-input v-model="senha" type="password" inverted color="tertiary" class="entrada" placeholder="Senha"></q-input>
          </q-field>
        </div>
        <div class="col-12 q-mt-sm">
          <q-btn outline color="white" class="bg-secondary" no-caps style="width: 100%" to="/home">Entrar</q-btn>
        </div>
      </div>
      <div class="col-12 links flex flex-center q-mt-sm">
        <router-link to="/forgot">Esqueceu sua senha?</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Index',
  data: function () {
    return {
      erro: false,
      email: '',
      senha: ''
    }
  }
}
</script>
<style>
  .circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff
  }
  .sublinha{
    color: white;
    font-size: 14px;
  }
  .botao{
    width: 32px;
    height: 32px;
  }
  .entrada{
    border-radius: 5px;
  }
  .links, .links a{
    color: white;
  }
</style>
