<template>
  <q-page class="container color-back">
    <div class="row justify-center header">
      <div class="col flex flex-center q-pa-md">
        Relatórios de venda de serviço
      </div>
    </div>
    <div class="row justify-center">
      <div class="col flex flex-left q-ma-md text-grey-8">
        Vendas por período
      </div>
    </div>
    <div class="row justify-center">
      <div class="col flex flex-center">
        <v-date-picker
          class="full-width"
          mode='range'
          :formats="formats"
          v-model='selectedDate'>
          <q-field type='text' slot-scope='props'>
            <q-input
              color="tertiary"
              class="q-mx-md"
              type='text'
              :value='props.inputValue'
              placeholder='Escolha o período'
              @change='props.updateValue($event.target.value)'
              clearable
              inverted>
            </q-input>
          </q-field>
        </v-date-picker>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col flex flex-left q-ma-md">
        <q-table
          :columns="columns"
          :data="tableData"
          hide-bottom
          class="full-width"
          />
      </div>
    </div>
    <h1>Working on tables</h1>
    <q-table
      :data="tableData"
      :columns="columns"
      row-key="name"
    >
      <q-tr slot="body" slot-scope="props" :props="props">
        <q-td key="desc" :props="props">
          {{ props.row.name }}
        </q-td>
        <q-td key="calories" :props="props">
          {{ props.row.calories }}
        </q-td>
        <q-td key="fat" :props="props">{{ props.row.fat }}</q-td>
        <q-td key="carbs" :props="props">{{ props.row.carbs }}</q-td>
        <q-td key="protein" :props="props">{{ props.row.protein }}</q-td>
        <q-td key="sodium" :props="props">{{ props.row.sodium }}</q-td>
        <q-td key="calcium" :props="props">{{ props.row.calcium }}</q-td>
        <q-td key="iron" :props="props">{{ props.row.iron }}</q-td>
      </q-tr>
    </q-table>
  </q-page>
</template>
<script>

export default {
  name: 'Report',
  data () {
    return {
      selectedDate: { start: new Date(), end: new Date() },
      formats: {
        input: ['DD/MM/YYYY'],
        data: ['DD/MM/YYYY']
      },
      columns: [
        /* {
          name: 'day',
          label: 'dia',
          field: 'day',
          align: 'left'
        },
        {
          name: 'serv',
          label: 'Serviço prestado',
          field: 'serv'
        },
        {
          name: 'client',
          label: 'Cliente',
          field: 'client'
        },
        {
          name: 'value',
          label: 'Valor cobrado',
          field: 'value'
        },
        {
          name: 'hour',
          label: 'Horário',
          field: 'hour'
        },
        {
          name: 'comission',
          label: 'Comissão',
          field: 'comission'
        },
        {
          name: 'profit',
          label: 'Lucro final',
          field: 'profit'
        } */
        {
          name: 'desc',
          required: true,
          label: 'Dessert (100g serving)',
          align: 'left',
          field: 'name',
          sortable: true
        },
        { name: 'calories', label: 'Calories', field: 'calories', sortable: true },
        { name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
        { name: 'carbs', label: 'Carbs (g)', field: 'carbs' },
        { name: 'protein', label: 'Protein (g)', field: 'protein' },
        { name: 'sodium', label: 'Sodium (mg)', field: 'sodium' },
        { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
      ],
      tableData: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        }
      ]
    }
  }
}
</script>
<style scoped>
  .header{
    background: #4e88eb;
    color: white;
  }
  .color-back{
    background: #f3f3f3
  }
</style>
