<template>
  <q-page class="container">
    <div class="row justify-center">
      <div class="col"></div>
    </div>
  </q-page>
</template>
<script>
export default {
  name: 'Settings'
}
</script>
<style scoped>
</style>
