<template>
  <q-layout>
    <div class="row justify-around cabecalho">
      <div class="col flex flex-left q-ma-sm">
        <q-btn color="white" flat round dense icon="menu" @click="drawer = !drawer"></q-btn>
      </div>
      <div class="col-auto flex flex-right q-ma-sm">
        <q-btn color="white" flat round dense icon="settings" @click="$router.push('/home/settings')"></q-btn>
      </div>
    </div>
    <q-scroll-area>
      <q-layout-drawer side="left" v-model="drawer" @on-layout="drawer = false">
        <div class="puxador-header">
          <q-list dark no-border>
            <q-list-header>Meu salão</q-list-header>
            <router-link to="/" class="links">
              <q-item>
                <q-item-side>
                  <q-item-tile avatar>
                    <img src="/assets/icons/user.png">
                  </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile label>Fulano</q-item-tile>
                  <q-item-tile sublabel class="text-white" style="text-decoration: underline">Editar</q-item-tile>
                </q-item-main>
              </q-item>
            </router-link>
          </q-list>
        </div>
        <div>
          <q-list no-border>
            <router-link to="/home" class="links-black">
              <q-item>
              <q-item-side>
                <q-item-tile icon>
                  <img style="width: 32px" src="/assets/icons/drawer/calendar.png">
                </q-item-tile>
              </q-item-side>
              <q-item-main>
                <q-item-tile label>Agendamentos</q-item-tile>
              </q-item-main>
            </q-item>
            </router-link>
            <router-link to="/home/report" class="links-black">
              <q-item>
                <q-item-side>
                  <q-item-tile icon>
                    <img style="width: 32px" src="/assets/icons/drawer/analytics.png">
                  </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile label>Relatórios</q-item-tile>
                </q-item-main>
              </q-item>
            </router-link>
            <router-link to="/home/settings" class="links-black">
              <q-item>
                <q-item-side>
                  <q-item-tile icon>
                    <img style="width: 32px" src="/assets/icons/drawer/settings.png">                </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile label>Configurações</q-item-tile>
                </q-item-main>
              </q-item>
            </router-link>
            <router-link to="/home/help" class="links-black">
              <q-item>
                <q-item-side>
                  <q-item-tile icon>
                    <img style="width: 32px" src="/assets/icons/drawer/information.png">
                  </q-item-tile>
                </q-item-side>
                <q-item-main>
                  <q-item-tile label>Ajuda</q-item-tile>
                </q-item-main>
              </q-item>
            </router-link>
          </q-list>
        </div>
      </q-layout-drawer>
    </q-scroll-area>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>
<script>
export default {
  name: 'Home',
  data: function () {
    return {
      drawer: true
    }
  }
}
</script>

<style scoped>
  .cabecalho{
    background: #4e88eb;
  }
  .puxador-header{
    background: #5ba0fb;
  }
  .links, .links a{
    color: white;
    text-decoration: none;
  }
  .links-black, .links-black a{
    color: black;
    text-decoration: none;
  }
</style>
